/* Navbar Styles */
.navbar{
    background-color: #DC567E;
}

.navbar a{
    color: #fff;
}

.navbar .btn{
    background-color: #FCFCFC;
    color: #000000;
}

/* Card Styles */

.card-title{
    color: #DC567E;
}

.card-text{
    color: #000000;
}
