:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar{
    background-color: #DC567E;
}

.navbar a{
    color: #fff;
}

.navbar .btn{
    background-color: #FCFCFC;
    color: #000000;
}

/* Card Styles */

.card {
    width: 100%;
}

.card-title{
    color: #DC567E;
}

.card-text{
    color: #000000;
}

/* Products */

.product-contanier{
    background-color: #FCFCFC;
}
